    <main>
        <div class="container">
            <div class="row">
                //= ./newsModule.html
                //= ./introModule.html
                //= ./withImageModule.html
            </div>
        </div>
    </main>