<div class="col col-2 introModule">
    <div class="companyIntro">
        <h2 class="block-title">Lorem Ipsum</h2>
        <div class="companyIntro__content">
            Lorem ipsum dolor sit amet, secte
            uer adipiscing elit, sedam nonumy
            nibh euismod tidunt ut laoreet dol
            magna quam erat volutpat. Ut wisia
            minim veniam qui nostru xerctation
            ullamcorp susc lobortis nisl ut aliqui
            ex ea consequat. Duis autem vel
            eu iriure dolor in hendrerit in vul veli
            esse molesti consequa vel illum dol
            ore eu feugi at nul facilisis at vero
            eros et acc faci.sedam nonumy nibh
            euismod dunt ut laoreet dolmagna
            qua erat volutpat.
        </div>
        <div class="companyIntro__usefull">
            <a href="">Delenit ea Velit Vero Dolore</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
            <a href="">Tincidunt Aliquip Lobortis Feug</a>
            <a href="">Delenit Quis Vero Dolore</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
            <a href="">Delenit Quis Vero Dolore</a>
            <a href="">Delenit ea Velit Vero Dolore</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
            <a href="">Tincidunt Aliquip Lobortis Feuit</a>
            <a href="">Delenit Quis Vero Dolore</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
            <a href="">Tincidunt Aliquip Lobortis Feug</a>
            <a href="">Delenit Quis Vero Dolore</a>
            <a href="">Lobortis Quis Suscipit Enim</a>
        </div>
    </div>

</div>