<div class="col col-1 newsModule">
    <div id="newsModule" data-module="newsModuleOnLoad" data-moduleLoadStatus="false">
        <h2 class="block-title">News</h2>
        <!-- js -->
    </div>
</div>