    <footer class="footer">
        <div class="container container__column">
            <div class="footer__navigation">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Product Catalog</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Helpful Links</a></li>
                        <li><a href="">Our Policies</a></li>
                        <li><a href="">Shopping CartHome</a></li>
                    </ul>
                </nav>
            </div>

            <div class="copyright">
                Copyright by <strong>Company Name</strong>© 2004 All rights Reserved
            </div>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="dist/js/app.js"></script>

</body>
</html>
