$primary-color: #ff9900;

html, body {
  height: 100%;
  font-family: "Verdana", sans-serif;
  font-size:12px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  overflow: hidden;
}

.container {
  flex: 1;
  display: flex;
  width: 100%;
  min-width: 600px;

  &__column {
    flex-direction: column;

  }
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  position: relative;
}

.col-1{
  flex: 0 0 31%;
  max-width: 31%;
}

.col-2{
  flex: 0 0 31%;
  max-width: 31%;
}

.col-3{
  flex: 0 0 38%;
  max-width: 38%
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.block-title {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 18px;
}

.moreText span {
  display: none;
}

