.footer {

  &__navigation {
    background-image: url(../img/footer.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #000;

    li {
      display: inline-block;
      padding: 0 9px;

      & > a {
        color: #fff;
        text-decoration: none;
        font-size: 11px;
        font-family: "Verdana", sans-serif;
        font-weight: bold;
        line-height: 2.778;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.copyright {
  font-size: 12px;
  font-family: "Verdana", sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  padding: 17px 0;
}