
.newsModule {

  h2 {
    padding-left: 22px;
  }

  &__item {
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-right: 12px;
    padding-left: 22px;

    &:nth-child(n+3) {
      padding-top: 19px;
    }

    &-header {
      h3 {
        float: left;
        margin: 0;
        line-height: 1.2;
        font-size: 12px;
        color: #cc3333;
        width: 50%;
        font-family: "Verdana", sans-serif;
        font-weight: bold;
      }

      .date {
        float: left;
        font-size: 14px;
        font-family: "Verdana", sans-serif;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        width: 50%;
        text-align: right;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    &-content {
      font-size: 12px;
      font-family: "Verdana", sans-serif;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #333333;
      line-height: 1.3;
    }

  }
}


.introModule {
  background: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.companyIntro {
  padding: 0 12px;

  &__content {
    font-size: 12px;
    font-family: "Verdana", sans-serif;
    margin-bottom: 15px;
    color: #333333;
    line-height: 1.3;
  }

  &__usefull {
    a {
      color: $primary-color;
      font-family: "Verdana", sans-serif;
      font-size: 12px;
      font-weight: bold;

      &:hover{
        opacity: 0.85;
        text-decoration: none;
      }
    }
  }
}

.withImage {
  padding-left: 15px;
  padding-right: 15px;
  h2 {
    font-size: 17px;
    font-family: "Verdana", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;

    small{
      color: $primary-color;
      font-size: 13px;
    }
  }
  &__content {
    font-size: 13px;
    font-family: "Verdana", sans-serif;
    margin-bottom: 15px;
    color: #333333;
    line-height: 1.2;
  }
}