
.girl__module {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/left_girl.png);
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 2;
}

header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 34px;

  ul {
    list-style: none;
    padding: 0;
  }
}

.site__logo {
  background-color: #fff;
  position: absolute;
  bottom: 60px;
  z-index: 6;
  display: block;
  padding: 5px 15px 8px 25px;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 0 0 #000;

  h1 {
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
    color: rgb(0, 19, 18);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;

    span {
      color: $primary-color;
    }
  }

  h2 {
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    color: rgb(102, 102, 102);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;
  }

  a{
    position: absolute;
    left:0;
    right: 0;
    bottom:0;
    top: 0;
    display: block;

  }

}

.filmstrip {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  background-image: url(../img/menu-bottom.png);
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 4px;

  &-wrapper {
    overflow: hidden;
    position: relative;
  }

  &__slider {
    position: relative;
    width: 10000px;
    margin: 0;
    background-color: #000;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &-item {
      float: left;
      padding: 25px 0;
      max-width: 140px;
      background-image: url('../img/filmstrip.png');
      background-position: left center;
      background-size: cover;
      background-repeat: repeat;
      margin: 0 5px;

      img {
        display: block;
        width: 100%;
        height: auto;

      }
    }
  }

}

.main__navigation {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  z-index: 4;
  & > li {
    float: left;
    height: 30px;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 0;
    padding: 0 12px;
    background: #c4c4c6;
    background: linear-gradient(to bottom, #a9a9aa 70%, #cdcdcd 95%, #cdcdcd 100%);
    margin-bottom: 0;
    transition: all 0.4s ease;

    &:hover {
      height: 35px;
      line-height: 35px;
      margin-bottom: 0;
      margin-top: -5px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 50%;
      background-color: #c7c7c7;
      border-radius: 5px;
      z-index: -1;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    & > a {
      font-size: 14px;
      font-family: "Tahoma", sans-serif;
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      display: block;
      height: 30px;
      line-height: 30px;
    }

    &.active {
      background: #81c3f3;
      background: linear-gradient(to bottom, #66b7f1 70%, #a4d4f7 95%, #a4d4f7 100%);

      &:before {
        background-color: #99cff6;
      }

    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.heleper__navigation {
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 30px;
  z-index: 2;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 3px 0 0 #000;
  ul {
    float: right;
    list-style: none;
    margin: 0;
    z-index: 4;
    padding: 3px 10px;

    & > li {
      float: left;
      &:not(:last-child) {
        margin-right: 8px;
      }
      a {
        font-size: 12px;
        font-family: "Verdana", sans-serif;
        color: rgb(204, 0, 0);
        font-weight: bold;
        text-decoration: none;
        text-align: right;
        line-height: 1;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
