/* JS Modules */

/* data-module="newsModuleOnLoad" */
[data-module="newsModuleOnLoad"] {
  min-height: 350px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &[data-moduleLoadStatus="false"] {
    background: #fff;
    &:after {
      background-image: url(../img/loading.gif);
    }
  }

  &[data-moduleLoadStatus="true"] {
    &:after {
      display: none;
    }
  }

}

/* data-module="newsModuleShowMore" */
[data-module="newsModuleShowMore"] {
  display: block;
  background: none;
  border: 0;
  color: #cc3333;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover, &:active, &:focus {
    opacity: 0.85;
  }
}

/* data-module="newsModuleShowMore" */
[data-moduleloadstatus="true"] p {
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
}